output
out
resume.pdf
resume.tuc
demo/simple.pdf
out/.DS_Store
demo/Academia-Writing-with-Markdown-Using-Pandoc/main.tex
.history
sdcamp/sdcamp-hei.pdf
font.txt
demo/my-document_temp.htm
demo/my-document.pdf
my_slides.html
.DS_Store
