# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python

tmp/


# tex related files
*.fdb_latexmk
*.fls
*.idx
*.ilg
*.ind
*.log
*.out
*.toc
*.aux
*.synctex.gz

build/

