<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN"
  "http://www.w3.org/TR/html4/strict.dtd">
<html>
<head>
	<meta http-equiv="content-language" content="en">
	<meta http-equiv="content-type" content="text/html; charset=UTF-8">
	<title>Git Community Book 中文版</title>
	<link rel="icon" href="favicon.png" type="image/png">
	<link rel="stylesheet" href="assets/blueprint/screen.css" type="text/css" media="screen, projection">
  <link rel="stylesheet" href="assets/blueprint/print.css" type="text/css" media="print">
  <!--[if IE]><link rel="stylesheet" href="assets/blueprint/ie.css" type="text/css" media="screen, projection"><![endif]-->
	<link rel="stylesheet" href="assets/stylesheets/style.css" type="text/css" media="screen, projection">
	<script type="text/javascript" src="assets/javascripts/jquery-1.2.6.min.js"></script>
	<script type="text/javascript" src="assets/javascripts/jquery.corner.js"></script>
</head>

<body>
<div class="container showgrids">

  <div class="span-21 header">
    <a href="/"><img alt="Git Community Book" src="assets/images/header-book.gif"></a>
  </div>

  <div class="span-21 navbar">
    <div id="toc">
      <ul class="a-documentation">
      	<li id="m-index"><a href="http://liuhui998.com/">Home</a></li>
      	<li id="m-about"><a href="http://git-scm.com/about">About Git</a></li>
      	<li id="m-documentation"><a href="http://git-scm.com/documentation">Documentation</a></li>
      	<li id="m-download"><a href="http://git-scm.com/download">Download</a></li>
      	<li id="m-tools"><a href="http://git-scm.com/tools">Related Tools</a></li>
      	<li id="m-wiki"><a href="http://git.or.cz/gitwiki">Wiki</a></li>
      </ul>
    </div>
  </div>
  
  <div class="span-21">
    <br/>
  </div>
  
  <div class="span-10">
    <div id="book-intro">
      <h3>Git Community Book 中文版</h3>
      <p>
	欢迎你成为本书的一名读者. &nbsp;  这本书汇聚了Git社区的很多精华,&nbsp;  其目的就是帮助你尽快的掌握Git.
      </p>
      <p>
	如果你觉得本书中的什么内容已经过时, &nbsp;或者有改进建议; &nbsp;那你可以点击这里:&nbsp;<a href="http://github.com/liuhui998/gitbook/wikis/how-to-contribute-zh">&nbsp;如何参与&nbsp;</a> , 也可以直接和 <a href="http://liuhui998.com/about/">&nbsp;译者&nbsp;</a> 联系. 
    </div>
  </div>

  
  <div class="span-5">
	  <div id="download">
			<h3>下 载</h3>			
			<div class="inner">
				点击 <a href="book.pdf">这里</a>下载<br> 最新中文版pdf <br>
				<hr/>

			  <a href="book.pdf"><img height="50" border="0" src="assets/images/pdf.png"/></a>
			</div>
    </div>
  </div>

  <div class="span-6 last">
    <div id="new-to-git">
      <h3>新手指南</h3>
      <div class="inner">
        <p>
	  如果你想彻底了解Git, 你可这从 <a href='1_1.html'>介绍</a> 开始.
       </p>
        <p>
	  如果你只想知道怎么用, 那么可跳到 <a href='2_2.html'>安装</a> 这一步.
        </p>
      </div>
    </div>
  </div>

  <div class="span-21">
    #body
  </div>
  
  <div class="span-17 footer">
  	<div class="menu">
  		This book is maintained by Scott Chacon, and hosting is donated by GitHub.
  		<br>
  		Please email me at <a href="mailto:schacon@gmail.com">schacon@gmail.com</a>
  		with patches, suggestions and comments.<br>
		中文版是由 <a href="http://liuhui998.com">liuhui998.com</a>维护,如果有任何意见建议或发现有bug,请联系我.
	  </div>

  </div>
  <div class="span-4 last center">
    <a href="http://github.com/liuhui998/gitbook"><img src="assets/images/github.png" alt="github logo"></a>

  </div>
  
</div>

<script type="text/javascript">
  $(function() {
    $('#book-intro').corner();
    $('#new-to-git').corner();
    $('#download').corner();
    $('.footer').corner();
  });
</script>
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-6896227-4"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-6896227-4');
</script>

</body>
</html>
